body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc, #6a11cb, #2575fc);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  .container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-width: 400px;
    width: 100%;
  }
  input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  button {
    background: #25D366;
    color: white;
    cursor: pointer;
  }
  button:hover {
    background: #909c9b;
  }
  .result {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .link-container {
    flex: 1;
    overflow-x: auto; /* Permite rolagem horizontal */
    white-space: nowrap; /* Impede a quebra de linha */
  }
  .link-container p {
    margin: 0;
    font-size: 14px;
  }
  .copy-button {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.8); /* Cinza claro */
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  .copy-button:hover {
    color: white; /* Branco ao passar o mouse */
  }